sudo: false
language: node_js
node_js:
  - '0.10'
  - '5'
cache:
  directories:
    - node_modules
before_script:
  - npm prune
notifications:
  email: false
script:
  - npm run validate
after_success:
  - 'curl -Lo travis_after_all.py https://git.io/travis_after_all'
  - python travis_after_all.py
  - 'export $(cat .to_export_back) &> /dev/null'
  - npm run report-coverage && npm run semantic-release
branches:
  only:
    - master
